---
title: Правила проживания
layout: page.njk
permalink: residence-rules.html
variationHeader: classical
---

<div class="residence-rules container">
  <h3>Правила проживания</h3>
  <ol>
    <li>
      <h5>Общие положения</h5>
      <ol>
        <li>
          Установленное время заезда – 14.00, время выезда – 12.00 следующих
          суток.
        </li>
        <li>
          Ранний заезд предоставляется при наличии свободных номеров. Оплата
          начисляется за каждый час. Стоимость часа рассчитывается по формуле:
          стоимость номера в сутки/12.
        </li>
        <li>
          Поздний выезд предоставляется при наличии свободных номеров. Оплата
          начисляется за каждый час. Стоимость часа рассчитывается по формуле:
          стоимость номера в сутки/12.
        </li>
        <li>
          Размещение на Курорте лиц, не достигших 18-летнего возраста,
          производится только с родителями (иными законными представителями),
          либо с одним из родителей (иным законным представителем), либо с
          сопровождающими лицами при предъявлении письменного согласия от обоих
          родителей, оформленного в установленном законом порядке.
        </li>
        <li>
          Размещение детей и предоставление дополнительных кроватей: Разрешается
          проживание детей любого возраста. При размещении всех детей младше 4
          лет на детских кроватках проживание им предоставляется бесплатно . При
          размещении всех детей старшего возраста или взрослых на дополнительных
          кроватях взимается RUB 1400 с человека за ночь. При размещении всех
          детей младше 8 лет на имеющихся кроватях проживание им предоставляется
          бесплатно . Максимальное количество детских кроваток в номере - 1.
          Максимальное количество дополнительных кроватей в номере - 1.
        </li>
        <li>
          Питание за дополнительное место в номере не включено в стоимость.
          Оплата питания за проживающего на дополнительной кровате
          осуществляется по факту заезда в отель.
        </li>
        <li>
          Предоплата: С гостя взимается предоплата — 50% общей стоимости
          проживания после бронирования.
        </li>
        <li>
          Порядок отмены бронирования: Гость может бесплатно отменить
          бронирование в срок вплоть до 60 дней до заезда. С гостя взимается 50%
          общей стоимости проживания при отмене в течение 60 дней до заезда.
        </li>
        <li>
          Режим работы отеля "Завидово Резорт" – круглосуточный, круглогодичный.
          <ol>
            <li>
              Размещение граждан на территории Отеля производится при
              предъявлении следующих документов:
              <ul>
                <li>
                  а) внутреннего паспорта гражданина Российской Федерации,
                  удостоверяющего личность гражданина Российской Федерации на
                  территории Российской Федерации;
                </li>
                <li>
                  б) паспорта гражданина СССР, удостоверяющего личность
                  гражданина Российской Федерации, до замены его в установленный
                  срок на паспорт гражданина Российской Федерации;
                </li>
                <li>
                  в) свидетельства о рождении - для лица, не достигшего
                  14-летнего возраста;
                </li>
                <li>
                  г) паспорта, удостоверяющего личность гражданина Российской
                  Федерации за пределами Российской Федерации - для лица,
                  постоянно проживающего за пределами Российской Федерации;
                </li>
                <li>
                  д) паспорта иностранного гражданина либо иного документа,
                  установленного федеральным законом или признанного в
                  соответствии с международным договором Российской Федерации в
                  качестве документа, удостоверяющего личность иностранного
                  гражданина, визы, миграционной карты и др. документов,
                  подтверждающих правомерность нахождения на территории РФ, в
                  соответствии с Постановлением Правительства РФ №9 от
                  15.01.2007 с изменениями № 246 от 07.03.2019;
                </li>
                <li>
                  е) документа, выданного иностранным государством и признанного
                  в соответствии с международным договором Российской Федерации
                  в качестве документа, удостоверяющего личность лица без
                  гражданства;
                </li>
                <li>
                  ж) разрешения на временное проживание лица без гражданства;
                </li>
                <li>з) вида на жительство лица без гражданства.</li>
              </ul>
            </li>
          </ol>
        </li>
        <li>
          Гость и/или посетитель обязан при бронировании или заселении оплатить
          забронированные Услуги.
        </li>
        <li>
          Плата за проживание на Курорте взимается в соответствии с
          установленными часами заезда и выезда.
        </li>
        <li>
          В случае опоздания гостя, с него взимается плата за фактический
          простой номера (места в номере), но не более чем за сутки. При
          опоздании более чем на сутки бронь (в том числе по заключенному
          договору) аннулируется.
        </li>
        <li>
          Плата за проживание на Курорте взимается согласно действующим тарифам
          на момент бронирования, посуточно, в соответствии с действующими
          часами заезда и выезда.
        </li>
      </ol>
    </li>
    <li>
      <h5>Обязанности гостя и посетителя курорта</h5>
      <span>Гость и посетитель Курорта обязан:</span>
      <ol>
        <li>
          В период нахождения на Курорте соблюдать морально-этические нормы,
          воздерживаться в местах массового отдыха гостей и посетителей Курорта
          от чрезмерного употребления алкоголя и нецензурных выражений. Уважать
          право других лиц на отдых, не оскорблять действиями и словами гостей,
          посетителей и персонал Исполнителя.
        </li>
        <li>
          Соблюдать правила пользования объектами инфраструктуры Курорта,
          прописанными на доске документации каждого объекта.
        </li>
        <li>
          Соблюдать правила противопожарной безопасности на всех объектах
          Курорта.
        </li>
        <li>
          В период с 23:00 до 09:00 часов (время московское) в будние дни,
          соблюдать тишину и не создавать неудобства другим гостям и посетителям
          Курорта, в случае несоблюдения данного правила, на основании акта,
          составленного службой приёма и размещения гостей и службой режима,
          взимается штраф - 15 000 рублей (пятнадцать тысяч рублей).
        </li>
        <li>
          Своевременно оплачивать счет за оказанные Услуги. Гость, проживающий в
          гостинице более 3 суток, обязан произвести промежуточный платеж на
          каждые 3 (третьи) сутки проживания.
        </li>
        <li>
          Беречь имущество Курорта, в том числе переданное во временное
          пользование. В случае утраты или повреждения имущества возмещать ущерб
          в полном объеме в момент выезда с территории Курорта по тарифам,
          действующим на Курорте, а также нести ответственность за иные
          нарушения.
        </li>
        <li>
          При выявлении у гостя инфекционного заболевания или при подозрении на
          такое заболевание гость обязан немедленно пройти лабораторное
          обследование и медицинское наблюдение или лечение и в случае, если он
          представляет опасность для окружающих, обязательную госпитализацию или
          изоляцию (ст. 33 ФЗ «О санитарно-эпидемиологическом благополучии
          населения» от 30.03.1999. № 52-ФЗ).
          <p>
            Отказ гостя предоставить документ из лечебного учреждения об
            отсутствии опасности для окружающих от инфекционного заболевания или
            подозрения на него дает основание Исполнителю прекратить действие
            договора на оказание Услуг немедленно.
          </p>
        </li>
        <li>
          При выезде из номера закрыть краны с водой, окна, выключить свет,
          радио, телевизор и другую технику, закрыть номер, сдать ключ на
          ресепшн и оплатить оказанные гостиницей Услуги.
        </li>
        <li>
          В целях безопасности проживания в гостинице не разрешается:
          <ul>
            <li>
              оставлять в номере посторонних лиц или передавать им ключи от
              номера;
            </li>
            <li>передавать иным лицам свою карту гостя</li>
            <li>использовать любое пиротехническое изделие.</li>
          </ul>
        </li>
      </ol>
    </li>
    <li>
      <h5>На территории курорта запрещается</h5>
      <ol>
        <li>Оставлять детей без присмотра</li>
        <li>Разводить костры в непредусмотренных для этого местах.</li>
        <li>Устанавливать палатки (тенты) на территории отеля;</li>
        <li>
          Привозить и употреблять наркотические средства и психотропные
          вещества;
        </li>
        <li>
          В свое отсутствие оставлять в комнате посторонних лиц, а также
          передавать им ключи от комнат;
        </li>
        <li>
          Переставлять мебель и выносить ее и из коттеджей и гостиничных
          номеров;
        </li>
        <li>Выезжать на автомобилях за отведенные для парковки места;</li>
        <li>Мыть автомашины или иную технику;</li>
        <li>
          Заходить или находиться в хозяйственном блоке и иных служебных
          помещениях;
        </li>
        <li>
          Включать музыку, петь и производить любые другие звуковые эффекты
          после 23.00 на территории размещения коттеджей и номеров;
        </li>
        <li>
          Не разрешается выносить полотенца, халаты, постельные принадлежности,
          одеяла, покрывала из номеров;
        </li>
        <li>Нарушать покой гостей, проживающих в соседних номерах;</li>
        <li>Оскорблять гостей и персонал Курорта.</li>
        <li>Выносить из ресторана в период его работы продукты и посуду.</li>
        <li>
          Ношение и хранение оружия, взрывчатых и легковоспламеняющихся, едких и
          ядовитых веществ. Гости, имеющие право, по роду своей деятельности, на
          ношение и хранение оружия, обязаны предоставить документы,
          удостоверяющие данное право по требованию Администрации Курорта. Под
          оружием следует понимать средства, указанные в законе РФ «Об оружии».
        </li>
        <li>
          Хранение и несанкционированное использование пиротехнических изделий
          на территории Курорта.
        </li>
      </ol>
    </li>
    <li>
      <h5>О курении</h5>
      <ol>
        <li>
          Курорт, в соответствии с ФЗ «Об ограничении курения табака»,
          организовал зону, свободную от табачного дыма. Все номера, балконы и
          коридоры жилых корпусов с 1 по 4 этажи, а также все коттеджи, пляж,
          ресторан, бар и иные места отдыха не предназначены для курения.
        </li>
        <li>
          Лица, проживающие/пребывающие на Курорте, курение табака осуществляют
          в специально отведенных местах на территории Курорта.
        </li>
      </ol>
    </li>
    <li>
      <h5>Правила нахождения животных на территории курорта</h5>
      <ol>
        <li>
          Проживание и/или пребывание с животными (собаками) на территории
          Курорта возможно только в коттеджах и таунхаусах при условии
          предварительного согласования с администрацией (уполномоченными
          сотрудниками) Курорта и предъявлении международного ветеринарного
          паспорта на животное с отметками о прививках, включая отметку о
          прививке от бешенства.
          <p>
            Животное (собака) должно быть вакцинировано от
            <span> бешенства </span>и других инфекций не менее чем за 30 дней до
            планируемой даты заезда, но и не более одного года.
          </p>
        </li>
        <li>
          Запрещается:
          <ul>
            <li>
              нахождение на территории Курорта животных бойцовых пород, птиц;
            </li>
            <li>
              нахождение и выгул животных на территории Курорта без ошейников и
              поводков;
            </li>
            <li>
              нахождение животных на территории Курорта без прививок
              (вакцинации) или до истечения месяца с момента прививки
              (вакцинации). Все прививки (вакцины) должны быть отражены в
              международном ветеринарном паспорте животного;
            </li>
            <li>использовать посуду Курорта для кормления животных;</li>
            <li>
              брать с собой животных в ресторан, оздоровительные комплексы и
              другие места общего пользования;
            </li>
            <li>мыть животных в душевых Курорта;</li>
          </ul>
        </li>
        <li>
          Гость или посетитель обязан самостоятельно и за свой счет убирать за
          животным во время прогулок.
        </li>
        <li>
          Гость обязан привезти с собой специальный коврик или специальную
          клетку для животного, посуду для кормления животного, лоток и иные
          необходимые для содержания животного аксессуары..
        </li>
        <li>
          Нарушение требования о запрете проживания и пребывания на территории
          Курорта с животными дает основание Исполнителю прекратить действие
          договора на оказание Услуг немедленно, а также влечет за собой
          взыскание убытков, вызванных дополнительными затратами, связанными с
          уборкой номера в гостинице или коттедже, а также другого места, в
          котором обнаружено животное, (моющие и чистящие вещества, санитарная
          обработка, стирка, химчистка и пр.) по тарифам, установленным на
          Курорте, которые гость обязан оплатить.
        </li>
        <li>
          Размещение и проживание с животными в главном корпусе в номерах
          "Стандарт", "Делюкс", "Люкс" запрещено.
        </li>
      </ol>
    </li>
    <li>
      <h5>Порядок действий посетителей</h5>
      <span>При возникновении чрезвычайных ситуаций</span>
      <ol>
        <li>
          В случае возникновения чрезвычайных аварийных ситуаций: стихийных
          бедствий, катастроф техногенного характера, пожара и проч. – гости
          Курорта не должны поддаваться панике.
        </li>
        <li>
          Гости Курорта обязаны четко выполнять команды обслуживающего
          персонала.
        </li>
        <li>
          После команды персонала или сигнала тревоги, переданного по системе
          оповещения, гости Курорта должны освободить, покинуть помещения
          номеров, коттеджей, баров, ресторанов, санузлов и прочих и выйти на
          открытые территории, покинуть здания, используя в том числе аварийные
          выходы, пожарные лестницы и переходы.
        </li>
        <li>
          Входы в здания будут блокироваться персоналом. Схемы эвакуации
          размещены на территории Курорта.
        </li>
        <li>
          Покидая помещения и здания, гости Курорта должны соблюдать
          спокойствие, сохранять чек об оплате услуг, не бежать, не создавать
          давки в проходах и на лестничных маршах, держаться за поручни, не
          перелазить через ограждения и не напирать на них, избегать при
          движении по территории мест, находящихся на высоте.
        </li>
        <li>
          Взрослые посетители должны обеспечить безопасную эвакуацию детей
          согласно планам эвакуации.
        </li>
      </ol>
    </li>
  </ol>
</div>