---
title: Оздоровительный центр "Атрея Аюрведа"
layout: page.njk
permalink: wellness-center.html
variationHeader: description
---

{%- from "utils/block.njk" import block -%}
{%- from "utils/component.njk" import component -%}

{{ component('template-description') }}
{{ component('template-program') }}
{{ component('template-banner') }}