---
title: Новость
layout: page.njk
permalink: new.html
---

{%- from "utils/block.njk" import block -%}
{%- from "utils/component.njk" import component -%}

<div class="about-the-news container">
  {{ block('breadcrumbs',{
  pages: [{
  href: "/",
  title: "Главная"
  },{
  href: "/",
  title: "Новости"
  },{
  title: "Китайский ICBC Bank"
  } ]
  }) }}
  {{ block('banner',{
  img: "/images/news-banner.jpg",
  title: "Китайский ICBC Bank"
  }) }}
  <a href="" class="about-the-news__back link">←Назад</a>
  <div class="about-the-news__images">
    <img width="580" height="368" src="/images/new5.jpg" alt="" class="about-the-news__img">
    <img width="580" height="368" src="/images/new6.jpg" alt="" class="about-the-news__img">
  </div>
  <div class="about-the-news__content">
    <h2 class="about-the-news__subtitle title">Китайский ICBC Bank</h2>
    <p>
      После третьей пленарной сессии 11 центрального комитета компартии КНР, состоявшейся в декабре 1978 года в Китае
      началось реформирование финансовой системы, в частности было принято решение о разделении Народного банка Китая,
      который совмещал функции центрального банка страны с коммерческой деятельностью. Народный банк Китая сохранил
      полномочия центрального банка, а для кредитования развития промышленности и приёма депозитов 1 января 1984 года
      был создан Промышленный и коммерческий банк Китая (ICBC), ему были переданы все региональные отделения Народного
      банка. Первые десять лет работы банка его основные показатели росли со скоростью около 20 % в год: депозиты
      выросли с RMB170 млрд в 1984 году до RMB884 млрд в 1993 году, кредиты с RMB247 млрд до RMB1,113 трлн, к концу 1993
      года эти показатели составляли около 40 % от всех депозитов и кредитов в КНР.
      Китайский ICBC Bank
      После третьей пленарной сессии 11 центрального комитета компартии КНР, состоявшейся в декабре 1978 года в Китае
      началось реформирование финансовой системы, в частности было принято решение о разделении Народного банка Китая,
      который совмещал функции центрального банка страны с коммерческой деятельностью. Народный банк Китая сохранил
      полномочия центрального банка, а для кредитования развития промышленности и приёма депозитов 1 января 1984 года
      был создан Промышленный и коммерческий банк Китая (ICBC), ему были переданы все региональные отделения Народного
      банка. Первые десять лет работы банка его основные показатели росли со скоростью около 20 % в год: депозиты
      выросли с RMB170 млрд в 1984 году до RMB884 млрд в 1993 году, кредиты с RMB247 млрд до RMB1,113 трлн, к концу 1993
      года эти показатели составляли около 40 % от всех депозитов и кредитов в КНР.
      02.06.2021</p>
    <img src="/images/new7.jpg" alt="" class="about-the-news__img">
    <h2 class="about-the-news__subtitle title">Китайский ICBC Bank</h2>
    <p>
      После третьей пленарной сессии 11 центрального комитета компартии КНР, состоявшейся в декабре 1978 года в Китае
      началось реформирование финансовой системы, в частности было принято решение о разделении Народного банка Китая,
      который совмещал функции центрального банка страны с коммерческой деятельностью. Народный банк Китая сохранил
      полномочия центрального банка, а для кредитования развития промышленности и приёма депозитов 1 января 1984 года
      был создан Промышленный и коммерческий банк Китая (ICBC), ему были переданы все региональные отделения Народного
      банка. Первые десять лет работы банка его основные показатели росли со скоростью около 20 % в год: депозиты
      выросли с RMB170 млрд в 1984 году до RMB884 млрд в 1993 году, кредиты с RMB247 млрд до RMB1,113 трлн, к концу 1993
      года эти показатели составляли около 40 % от всех депозитов и кредитов в КНР.
      Китайский ICBC Bank
      После третьей пленарной сессии 11 центрального комитета компартии КНР, состоявшейся в декабре 1978 года в Китае
      началось реформирование финансовой системы, в частности было принято решение о разделении Народного банка Китая,
      который совмещал функции центрального банка страны с коммерческой деятельностью. Народный банк Китая сохранил
      полномочия центрального банка, а для кредитования развития промышленности и приёма депозитов 1 января 1984 года
      был создан Промышленный и коммерческий банк Китая (ICBC), ему были переданы все региональные отделения Народного
      банка. Первые десять лет работы банка его основные показатели росли со скоростью около 20 % в год: депозиты
      выросли с RMB170 млрд в 1984 году до RMB884 млрд в 1993 году, кредиты с RMB247 млрд до RMB1,113 трлн, к концу 1993
      года эти показатели составляли около 40 % от всех депозитов и кредитов в КНР.
      02.06.2021</p>
  </div>
</div>

