---
title: error
layout: page.njk
permalink: 404.html
---

<div class="error container">
  <div class="error__number">404</div>
  <div class="error__info">Страница не найдена.</div>
  <a href="/" class="error__btn btn btn_type_primary">Вернуться на главную</a>
</div>
