.page {
  &__layout {
    background: var(--gray-color);
  }

  &__blocks {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    gap: 80px;
  }

  @media (max-width: 700px) {
    &__blocks {
      gap: 40px;
    }
  }
}
