<div class="m-menu__top-block">
  <a class="m-menu__logo-wrapper" href="/">
    <svg class="m-menu__logo" width="121" height="28">
      <use href="/assets/sprite.svg#logo"></use>
    </svg>
  </a>
  <div class="m-menu__search-wrapper">
    <button class="m-menu__search-btn btn">
      <svg class="m-menu__svg" width="16" height="16">
        <use href="/assets/sprite.svg#search"></use>
      </svg>
    </button>
    <input class="m-menu__search" type="text">
  </div>
</div>
