<div class="pagination">
  <span class="pagination__prev">
    <svg class="pagination__svg">
      <use href="/assets/sprite.svg#arrow"></use>
    </svg>
  </span>
  <span class="pagination__page pagination__page_now">1</span>
  <a href="/" class="pagination__page">2</a>
  <a href="/" class="pagination__page">3</a>
  <a href="/" class="pagination__page link">4</a>
  <a href="/" class="pagination__next">
    <svg class="pagination__svg">
      <use href="/assets/sprite.svg#arrow"></use>
    </svg>
  </a>
</div>
