<div class="article">
  <div class="container">
    <h1 class="article__title  title">Тимбилдинг, корпоративы</h1>
    <div class="article__content">
      <div class="article__block">
        <h2>
          Квест-день
        </h2>
        <picture>
          <source
            srcset="/assets/images/residential-buildings/cottage.webp, /assets/images/residential-buildings/cottage@2x.webp 2x"
            type="image/webp">
          <img
            srcset="/assets/images/residential-buildings/cottage.jpg, /assets/images/residential-buildings/cottage@2x.jpg 2x"
            src="/assets/images/residential-buildings/cottage.jpg"
            loading="lazy" alt="Error404">
        </picture>
        <p>Планируете короткое мероприятие, чтобы утром или в обед приехать, а вечером вернуться
          в город? Тогда посмотрите варианты в Zavidovo Resort:</p>
        <h3>В стоимость входит:</h3>
        <ul>
          <li>Квест-день (спортивные активности включены)</li>
          <li>Йога-день (проводят мастера из Индии)</li>
          <li>Йога-день (проводят мастера из Индии)</li>
          <li>Квест-день</li>
        </ul>
        <p>Планируете короткое мероприятие, чтобы утром или в обед приехать, а вечером вернуться
          в город? Тогда посмотрите варианты в Zavidovo Resort:</p>
        <p>В программу входят активности, питание, шатер, пляж, пристань.</p>
        <p>Дополнительно организуем водные развлечения: катание на катере или сапах, водных лыжах или ватрушке.</p>
        <p>Стоимость: <b>от 5 700 рублей с человека</b></p>
      </div>
    </div>
  </div>
</div>
