<div class="awards">
  <div class="container">
    <h1 class="awards__title title">Награды и свидетельства</h1>

    <div class="awards__unit">
      {% for item in params.awardsData %}
        <a data-fancybox="gallery" href="/assets/images/{{ item.images.img }}">
          <picture>
            <source srcset="/assets/images/awards/{{ item.images.webp }}, /assets/images/awards/{{ item.images.webp2x }} 2x"
          type="image/webp">
            <img
          srcset="/assets/images/awards/{{ item.images.img }}, /assets/images/awards/{{ item.images.img2x }} 2x"
          src="/assets/images/awards/{{ item.images.img }}"
          loading="lazy"
          alt="cert"
          width="335" height="479">
          </picture>
        </a>
      {% endfor %}
    </div>

  </div>
</div>