<footer class="footer">
    <div class="footer__content container">
        <div class="footer__wrapper-menu">
            <svg class="footer__icon" width="513" height="124">
                <use href="/assets/sprite.svg#footerIcon"></use>
            </svg>
            <ul class="footer__wrapper-item">
                {% for menuItem in params.footer %}
                    <li class="footer__menuItem">
                        <a class="footer__item" href="{{ menuItem.link }}">{{ menuItem.menuItem }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="footer__wrapper-info">
            <div class="footer__wrapper-adres-btn">
                <div class="footer__wrapper-adres">
                    <div class="footer__wrapper-icon">
                        <svg class="footer__map-icon" width="24" height="24">
                            <use href="/assets/sprite.svg#mapIcon"></use>
                        </svg>
                    </div>
                    <span class="footer__adres">Тверская область, Конаковский район, городское поселение Новозавидовский, деревня Тешилово, 45А</span>
                </div>
                <div class="footer__wrapper-btn">
                    <a class="footer__btn base-btn base-btn_type_secondary">Схема проезда</a>
                </div>
            </div>
            <div class="footer__wrapper-privacy-policy">
                <a class="footer__privacy-policy">Политика конфиденциальности</a>
                <a class="footer__privacy-policy">Правила обработки персональных данных</a>
                <a class="footer__privacy-policy">Правила пользования сайтом</a>
                <span class="footer__safety">© 2023 Все права защищены.</span>
            </div>
        </div>
    </div>
</footer>