{%- from "utils/component.njk" import component -%}
<div class="hotel-rooms container">
  <h2 class="hotel-rooms__title title">
    Номера
  </h2>
  <div class="hotel-rooms__list-rooms">
    {% for item in params.hotelRooms %}
      {{ component('room-card', {
        title: item.title,
        subtitle: item.subtitle,
        description: item.description,
        hrefBook: item.hrefBook,
        hrefMoreDetails: item.hrefMoreDetails
      }) }}
    {% endfor %}
  </div>
</div>
