<div class="not-found">
  <div class="container">
    <div class="not-found__wrap">
      <div class="not-found__main">
        <div class="not-found__title">Извините, запрошенная вами страница не была найдена</div>
        <div class="not-found__text-unit">
          <div class="not-found__text">Возможно, страница была перемещена, или вы просто неверно указали адрес</div>
          <button type="button" class="base-btn base-btn_type_primary not-found__link-button">На главную
          </button>
        </div>
      </div>
      <picture class="not-found__picture">
        <source media="(max-width: 425px)"
                srcset="/assets/images/not-found/error404-mobile.webp, /assets/images/not-found/error404-mobile@2x.webp"
                type="image/webp">
        <source media="(max-width: 425px)"
                srcset="/assets/images/not-found/error404-mobile.png, /assets/images/not-found/error404-mobile@2x.png 2x">
        <source srcset="/assets/images/not-found/error404.webp, /assets/images/not-found/error404@2x.webp 2x"
                type="image/webp">
        <img class=" not-found__error-image"
             srcset="/assets/images/not-found/error404.png, /assets/images/not-found/error404@2x.png 2x"
             src="/assets/images/not-found/error404.png"
             loading="lazy"
             width="1014"
             height="251"
             alt="Error404"></picture>
    </div>
  </div>
</div>
