<section class="questions container">
    <div class="questions__wrapper-form">
        <div class="questions__text">
            <span class="questions__title">Остались вопросы?</span>
            <span class="questions__desc">Подробно расскажем о базе отдыха, услугах, ценах и подготовим индивидуальное предложение!</span>
        </div>
        <div class="questions__wrapper-input">
            <input type="text" class="questions__input base-input" placeholder="Имя"/>
            <input type="tel" class="questions__input base-input" placeholder="+7 (___) ___ __ __"/>
        </div>
        <div class="questions__wrapper-checkbox">
            <input id="personal-data_" type="checkbox" class="questions__checkbox base-checkbox base-checkbox_checkbox" required/>
            <label class="questions__label-checkbox  base-checkbox base-checkbox_label-checkbox" for="personal-data_">Я согласен с <a href="#" class="questions__link">политикой обрабокти персональных данных</a>
            </label>
        </div>
        <div class="questions__wrapper-btn-form">
            <a class="questions__btn base-btn base-btn_type_primary" href="#">Отправить</a>
        </div>
    </div>
    <div class="questions__wrapper-maps">
        <div class="questions__wrapper-adres">
            <div class="questions__wrapper-btn-title">
                <span class="questions__title-form">Мы ждем вас!</span>
                <div class="questions__wrapper-btn">
                    <a class="questions__btn-form base-btn base-btn_type_tertiary" href="#">
                        <span>Схема проезда</span></a>
                </div>
            </div>
            <div class="questions__wrapper-content-text">
                <div class="questions__wrapper-icon-adres">
                    <svg class="questions__icon" width="24" height="24">
                        <use href="/assets/sprite.svg#mapIcon"></use>
                    </svg>
                    <span class="questions__adres">Тверская область, Конаковский район, городское поселение Новозавидовский, деревня Тешилово, 45А</span>
                </div>

                <div class="questions__wrapper-icon-email">
                    <svg class="questions__icon" width="24" height="24">
                        <use href="/assets/sprite.svg#mail"></use>
                    </svg>
                    <a class="questions__mail" href="mailto:info@zavidovoresort.ru">info@zavidovoresort.ru</a>
                </div>
                <div class="questions__wrapper-btn-mob">
                    <a class="questions__btn-form-mob base-btn base-btn_type_tertiary" href="#">
                        <span>Схема проезда</span></a>
                </div>
            </div>
        </div>
    </div>
</section>