{%- from "utils/component.njk" import component -%}

{% for residentialBuilding in params.residentialBuildings %}
  <div class="residential-buildings container">
    <h2 class="residential-buildings__title title">
      {{ residentialBuilding.name }}
    </h2>
    <div class="residential-buildings__list-rooms">
      {{ component('residential-building-card', {
        residentialBuildingData: residentialBuilding.data
      }) }}
    </div>
  </div>
{% endfor %}

