{%- from "utils/component.njk" import component -%}

<div class="silence container">
    <h1 class="silence__title">Zavidovo resort </h1>
    <span class="silence__desc">Отличное место, чтобы восстановиться.</span>
    <a class="silence__btn base-btn base-btn_type_secondary">Подробности</a>
    {{ component('check-checkout') }}
</div>