.lg-backdrop.in {
  opacity: .7 !important
}

.lg-outer .lg-actions {
  height: 100%
}

.lg-outer .lg-img-wrap {
  padding: 20px 0 110px !important
}

.lg-outer .lg-thumb-item.active, .lg-outer .lg-thumb-item:hover {
  border-color: red !important
}

.lg-outer .lg-thumb {
  margin: 0 auto !important
}

.lg-outer .lg-thumb-outer {
  background-color: rgba(0, 0, 0, .45) !important
}

@media only screen and (max-width: 1366px) {
  .lg-outer .lg-img-wrap {
    padding: 20px 0 80px !important
  }

  .lg-outer .lg-sub-html {
    bottom: 70px !important
  }

  .lg-outer .lg-thumb-outer {
    height: 70px !important
  }
}

@media only screen and (max-height: 768px) {
  .lg-outer .lg-img-wrap {
    padding: 20px 0 80px !important
  }

  .lg-outer .lg-thumb-outer {
    height: 70px !important
  }
}
