h1{
  font-weight: 500;
  font-size: 56px;
  line-height: 1.2;
  color: #495053;
}
img{
  max-width: 100%;
  height: auto;
}
p {
  line-height: 1.2;
}
@media screen and (max-width: 425px) {
  h1{
    font-size: 32px;
  }
}
