.bg-gray {
  background-color: #f2f4f6;
  padding: 77px 0 24px
}

.style-italic {
  font-style: italic;
  font-weight: 500;
  font-size: 24px;
  line-height: 154%;
  color: #4f4f4f;
  text-align: justify;
  margin-bottom: 50px
}

.style-bg_gray {
  background-color: #f2f4f6;
  padding: 71px 100px;
  color: #4f4f4f;
  margin: 30px 0 50px
}

.style-bg_gray h2 {
  margin-top: 0
}
