.container {
  width: 1180px;
  margin: 0 auto
}

.table-wrapper {
  overflow: auto
}

a.lightgallery {
  border-bottom: none
}

.slick-arrow, .slick-slide, ul.slick-dots li button {
  outline: 0
}

.margin {
  margin: 0 0 70px
}

.margin-small {
  margin: 0 0 50px
}

.padding {
  padding: 70px 0
}

.section-mg56 {
  margin-bottom: 56px
}

.section-mg65 {
  margin-bottom: 65px
}

.section-mg18 {
  margin-bottom: 18px
}

.section-mg32 {
  margin-bottom: 32px
}

.section-mg28 {
  margin-bottom: 28px
}

.section-mg40 {
  margin-bottom: 40px
}

.section-mgt75 {
  margin-top: 75px
}
