.link-arrow {
  position: relative
}

.link-arrow svg {
  position: absolute;
  content: '';
  top: 53%;
  right: 0;
  -webkit-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}

.link-arrow svg path {
  -webkit-transition: .3s ease-in-out;
  -o-transition: .3s ease-in-out;
  transition: .3s ease-in-out
}

.link-arrow:hover svg path {
  fill: #3c6dae;
  stroke: #3c6dae
}

a.link-arrow {
  font-size: 20px;
  padding-right: 20px
}
