@font-face {
    font-family: 'Gotham';
    src: url('~/fonts/Gotham/GothamProBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('~/fonts/Gotham/GothamProBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('~/fonts/Gotham/GothamProMedium.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('~/fonts/Gotham/GothamProRegular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src: url('~/fonts/Gotham/GothamProLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}
