<div class="advantages container">
  <div class="advantages__item">
    <svg class="advantages__svg" width="28" height="28">
      <use href="/assets/sprite.svg#watch"></use>
    </svg>
    Более 10 лет на рынке
  </div>
  <div class="advantages__item">
    <svg class="advantages__svg" width="28" height="28">
      <use href="/assets/sprite.svg#assortment"></use>
    </svg>
    Широкий модельный ряд
  </div>
  <div class="advantages__item">
    <svg class="advantages__svg" width="28" height="28">
      <use href="/assets/sprite.svg#technology"></use>
    </svg>
    Новые проекционные технологии
  </div>
  <div class="advantages__item">
    <svg class="advantages__svg" width="28" height="28">
      <use href="/assets/sprite.svg#profiles"></use>
    </svg>
    Широкая сфера применения
  </div>
  <div class="advantages__item">
    <svg class="advantages__svg" width="28" height="28">
      <use href="/assets/sprite.svg#performance"></use>
    </svg>
    Высокая производительность
  </div>
</div>
