{%- from "utils/component.njk" import component -%}

<div class="form-block container">
  <div class="form-block__first-block">
    <img width="580" height="549" src="/images/installation5.jpg" alt="" class="form-block__img">
  </div>
  <div class="form-block__form">
    {{ component('form') }}
  </div>
</div>
