<div class="installations container">
  <h2 class="installations__title installations__title_center title">Примеры инсталляций</h2>
  <p class="installations__title-caption">Можете убедиться в качестве нашей продукции по их работам.</p>
  <div class="installations__grid installations__grid_adaptive">
    <div class="installations__column">
      <div class="installations__grid">
        <a href="/" class="installations__img-wrapper">
          <figure>
            <img width="280" height="265" src="/images/installation2.jpg" alt="" class="installations__img">
            <figcaption>Музеи и выставки</figcaption>
          </figure>
        </a>
        <a href="/" class="installations__img-wrapper">
          <figure>
            <img width="280" height="265" src="/images/installation3.jpg" alt="" class="installations__img">
            <figcaption>Сфера образования</figcaption>
          </figure>
        </a>
      </div>
      <a href="/" class="installations__img-wrapper">
        <figure>
          <img width="580" height="265" src="/images/installation4.jpg" alt="" class="installations__img">
          <figcaption>Правительства и предприятия</figcaption>
        </figure>
      </a>
    </div>
    <a href="/" class="installations__img-wrapper">
      <figure>
        <img width="580" height="549" src="/images/installation.jpg" alt="" class="installations__img">
        <figcaption>Ещё немного примеров</figcaption>
      </figure>
    </a>
  </div>
</div>
