<div class="container">
  <div class="swiper main-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <img class="main-swiper__img" width="1180" height="550" src="/images/main-banner.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img class="main-swiper__img" width="1180" height="550" src="/images/main-banner.jpg" alt="">
      </div>
      <div class="swiper-slide">
        <img class="main-swiper__img" width="1180" height="550" src="/images/main-banner.jpg" alt="">
      </div>
    </div>
    <div class="main-swiper__numbering swiper-pagination"></div>
    <div class="main-swiper__navigation">
      <button class="btn main-swiper__prev swiper-button-prev"></button>
      <button class="btn main-swiper__next swiper-button-next"></button>
    </div>
  </div>
</div>
