<div class="products-main-block">
  <div class="container">
    <h1 class="products-main-block__title title">Продукция</h1>
    <p class="products-main-block__caption caption">Cовременный модельный ряд Sonnoc включает в себя короткофокусные,
      портативные и инсталляционные проекторы как с ламповыми,
      так и с лазерными источниками света
    </p>
  </div>
  <div class="products-main-block__grid container">
    <a href="/" class="products-main-block__product link">
      <img width="380" height="280" src="/images/product.jpg" alt="" class="products-main-block__img">
      <span class="products-main-block__product-name">Короткофокусные проекторы</span>
      <span class="products-main-block__product-info caption">Проекторы оснащены высококачественным объективом с
        улучшенными оптическими характеристиками
      </span>
      <button class="products-main-block__btn btn btn_type_primary">Подробнее</button>
    </a>
    <a href="/" class="products-main-block__product link">
      <img width="380" height="280" src="/images/product2.jpg" alt="" class="products-main-block__img">
      <span class="products-main-block__product-name">Портативные проекторы</span>
      <span class="products-main-block__product-info caption">Проекторы Sonnoc серии A1 оснащены 3LCD матрицами, которые
        создают высококачественную картинку
      </span>
      <button class="products-main-block__btn btn btn_type_primary">Подробнее</button>
    </a>
    <a href="/" class="products-main-block__product link">
      <img width="380" height="280" src="/images/product3.jpg" alt="" class="products-main-block__img">
      <span class="products-main-block__product-name">Инсталляционные проекторы</span>
      <span class="products-main-block__product-info caption">Проекторы Sonnoc серии LU – это высокопроизводительные
        лазерные модели, базирующиеся на DLP технологии
      </span>
      <button class="products-main-block__btn btn btn_type_primary">Подробнее</button>
    </a>

  </div>
</div>
