<div class="banner-promotion-button">
  <a href="/" class="banner-promotion-button__button-link base-btn base-btn_type_tertiary">
    Акция! Скидка 15% при полной оплате
    бронирования! Тариф "Для Своих"
  </a>
</div>
