{%- from "utils/component.njk" import component -%}
<div class="banner-promotion">
  {{ component('banner-promotion-button') }}
  <div class="banner-promotion__description">
    <p>
      Люкс с телевизором с кабельными каналами. В собственной ванной комнате предоставляются бесплатные
      туалетно-косметические принадлежности, тапочки и халаты.
    </p>
    <p>
      Планируйте свое путешествие за неделю, две или месяц и <span class="base-text base-text_type_bold"> платите меньше на 15%! </span>
      Тариф
      действует при бронировании не
      менее, чем за 7 дней до заезда. Бронируйте здесь
      <a href="" class="base-link">https://zavidovoresort.ru/booking/?&special-offer=152577</a>
    </p>
    <p>Для наших дорогих гостей открыта настоящая русская баня на березовых дровах.</p>
  </div>
</div>
