<div class="booking">
  <h3 class="booking__title">Бронирование</h3>
  <div class="booking__unit"></div>
  <div class="booking__unit"></div>
  <div class="booking__btn">
    <a href="/" class="base-btn base-btn_type_primary booking__button"
      >Забронировать</a
    >
    <span class="booking__summ">от 7500 ₽</span>
  </div>
</div>
