<div class="bread-crumbs container">
  <ul class="bread-crumbs__unit">
    <li class="bread-crumbs__item">
      <a class="bread-crumbs__link" href="">Главная / </a>
    </li>
    <li class="bread-crumbs__item">
      <span class="bread-crumbs__text">{{ params.item }}</span>
    </li>
  </ul>
</div>
