<div class="check-checkout">
  <div class="check-checkout__wrapper">
    <div class="check-checkout__btn-content">
      <span class="check-checkout__btn-txt">Заезд - Выезд</span>
      <div class="check-checkout__content">
        <svg width="24" height="24" class="check-checkout__icon">
          <use href="/assets/sprite.svg#calendar"></use>
        </svg>

        <span class="check-checkout__date">27 - 30 ноября 2023</span>

        <svg width="24" height="24" class="check-checkout__arrow">
          <use href="/assets/sprite.svg#arrowblack"></use>
        </svg>
      </div>
    </div>
    <div class="check-checkout__btn-content">
      <span class="check-checkout__btn-txt">Размещение</span>
      <div class="check-checkout__content">
        <svg width="24" height="24" class="check-checkout__icon">
          <use href="/assets/sprite.svg#users"></use>
        </svg>

        <span class="check-checkout__people">2 взрослых, 1 ребенок, 1 номер, 1 питомец</span>

        <svg width="24" height="24" class="check-checkout__arrow">
          <use href="/assets/sprite.svg#arrowblack"></use>
        </svg>
      </div>
    </div>
    <button class="check-checkout__btn base-btn base-btn_type_primary">Забронировать</button>
  </div>
</div>
