<div class="navigation">
  <div class="navigation__container">
    <a href="/" class="navigation__link base-link">Общее описание</a>
    <a href="/" class="navigation__link base-link">Оздоровительный центр</a>
    <a href="/" class="navigation__link base-link">Банный комплекс с чаном</a>
    <a href="/" class="navigation__link base-link">Питание</a>
    <a href="/" class="navigation__link base-link">Отдых с детьми</a>
    <a href="/" class="navigation__link base-link">Яхтинг и водные виды спорта</a>
    <a href="/" class="navigation__link base-link">Рыбалка</a>
  </div>
</div>