<div class="pagination">
  <a href="/" class="pagination__prev">
    <svg width="28" height="28">
      <use href="/assets/sprite.svg#arrow"></use>
    </svg>
  </a>
  <div class="pagination__pages">
    <a href="/" class="pagination__page-link pagination__page-link_active">
      1
    </a>
    <a href="/" class="pagination__page-link">
      2
    </a>
    <a href="/" class="pagination__page-link">
      3
    </a>
    <a href="/" class="pagination__page-link">
      4
    </a>
    <a href="/" class="pagination__page-link">
      5
    </a>
  </div>
  <a href="/" class="pagination__next">
    <svg width="28" height="28">
      <use href="/assets/sprite.svg#arrow"></use>
    </svg>
  </a>
</div>
