<div class="review__review">
    <div class="review__review-top">
        <div class="review__wrapper-letter-name">
            <div class="review__letter-name">{{ params.name[0] }}</div>
            <span class="review__name">{{ params.name }}</span>
        </div>
        <span class="review__date">{{ params.data }}</span>
    </div>
    <div class="review__review-text">
        {{ params.review }}
    </div>
</div>