.description {
  position: relative;
  left: -2px;
  
  &__btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
  }

  &__description-text {
    font-weight: 300;
    font-size: 40px;

    color: #495053;
  }

  &__wrapper-icon {
    position: relative;
    padding: 7px;
    left: 9px;
    border-radius: 100px;
    line-height: 0;
  }

  &__icon-plus {
    transition: 1s;
    width: 24px;
    height: 24px;
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 1s;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    border-bottom: 1px solid #DAD7E1;
    top: 20px;
    left: 2px;

    color: #495053;
  }

  &__active .description__content  {
    transition: 1s;
    padding-top: 20px;
    opacity: 1;
  }

  &__text-open {
    max-height: 500px;
    transition: max-height 1s;
  }

  &__list {
    margin: 30px 0 43px -10px;
    line-height: 29px;
  }

  &__rotate-icon {
    transform: rotate(-45deg);
    transition: 1s;
  }

  &__background-btn {
    background: #F5F5F5;
    transition: 1s;
  }
  @media screen and (max-width: 768px) {
    &__description-text {
      font-size: 20px;
    }
    &__content{
      font-size: 16px;
    }
  }
}
