.banner {
  width: 100%;
  background: url('~/images/background-banner.jpg') no-repeat center;
  background-size: 100% 100%;

  &__content {
    display: flex;
    gap: 154px;
    justify-content: space-between;
    max-width: 1440px;
    padding: 88px 0 80px;
  }

  &__txt {
    max-width: 509px;
    width: 100%;
    font-size: 32px;
    line-height: 31px;
  }

  &__five-min {
    position: relative;
    margin-left: -11px;

    &:after {
      position: absolute;
      background: url('~/images/banner-line.svg') no-repeat center;
      display: block;
      width: 195px;
      height: 29px;
      left: -48px;
      top: 39px;
      content: '';
    }
  }

  &__btn {
    position: relative;
    top: -3px;
    //left: 97px;
    background-color: #fff;
    padding: 20px 35px;
    font-weight: 500;
    font-size: 24px;
    border: none;
    border-radius: 56px;
    cursor: pointer;

    &:hover {
      background: #f2f2f2;
    }
  }

  @media screen and (max-width: 1150px) {
    &__content {
      gap: 0;
    }

    &__txt {
      margin-left: -100px;
    }

    &__btn {
      left: 15px;
    }
  }

  @media screen and (max-width: 885px) {
    &__txt {
      margin-left: 0px;
      text-align: center;
    }
  }

  @media screen and (max-width: 808px) {
    &__content {
      flex-direction: column;
      padding: 50px 0;
    }

    &__btn {
      left: 15px;
      margin: 86px auto 0;
    }
  }

  @media screen and (max-width: 650px) {
    &__five-min {
      &::after {
        left: -107px;
        top: 72px;
      }
    }
  }

  @media screen and (max-width: 530px) {
    &__five-min {
      &::after {
        left: -200px;
      }
    }
  }

  @media screen and (max-width: 420px) {
    &__content {
      padding: 50px 0 35px;
      margin-right: 29px;
    }

    &__btn {
      left: 0;
      margin: 54px 0 0;
      font-size: 18px;
      text-align: center;
      padding: 22px 35px;
      &-txt {
        font-size: 24px;
        font-weight: 400;
      }
    }
  }

  @media screen and (max-width: 390px) {
    &__five-min {
      &::after {
        left: 0;
        top: 43px;
      }
    }
  }

  @media screen and (max-width: 362px) {
    &__five-min {
      &::after {
        left: -136px;
        top: 70px;
      }
    }
  }

  @media screen and (max-width: 320px) {
  }
}
