.advantages {
  display: flex;
  flex-direction: column;
  gap: 48px;
  padding-top: 50px;
  padding-bottom: 50px;

  &__title {
    text-align: end;
  }

  &__wrapper-block {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
  }

  &__wrapper-content {
    display: flex;
    flex-direction: column;
    gap: 151px;
    justify-content: space-between;
    padding: 32px;
    background-color: #fff;
    border-radius: 24px;
  }

  &__desc {
    font-weight: 400;
    font-size: 24px;
    line-height: 1;
    letter-spacing: -0.02em;
  }

  &__icon {
    width: 64px;
    height: 64px;
  }

  @media (max-width: 1300px) {
    &__wrapper-block {
      grid-template-columns: repeat(3, 1fr);
    }

    &__wrapper-content {
      gap: 90px;
    }
  }

  @media screen and (max-width: 768px) {
    gap: 24px;
    padding-top: 32px;
    padding-bottom: 32px;

    &__wrapper-block {
      grid-template-columns: repeat(2, 1fr);
      gap: 16px;
    }

    &__desc {
      align-self: center;
      font-size: 16px;
    }

    &__title {
      text-align: start;
    }

    &__wrapper-content {
      flex-direction: row;
      gap: 24px;
      max-height: 98px;

      svg {
        width: 100%;
        max-width: 32px;
        height: 100%;
        max-height: 32px;
      }
    }
  }

  @media (max-width: 550px) {
    &__wrapper-block {
      grid-template-columns: 1fr;
      gap: 24px;
    }

    &__wrapper-content {
      justify-content: flex-start;
      padding: 24px;
    }
  }
}
