.stock {
<<<<<<< HEAD
  padding-top: 50px;
=======
  padding-top: 34px;
>>>>>>> 6c96364df5788ef1dc477f847a698d25eba33019
  padding-bottom: 64px;

  &__title {
    margin-bottom: 48px;
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  &__pagination {
    padding: 50px 0;
  }

  @media (max-width: 550px) {
<<<<<<< HEAD
=======
    padding-top: 0;
>>>>>>> 6c96364df5788ef1dc477f847a698d25eba33019
    &__title {
      margin-bottom: 24px;
    }

    &__content {
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }
}
