body {
  margin: 0;
  font-size: 16px;
  font-family: Arimo, sans-serif;
  line-height: 1.125;
  letter-spacing: -0.64px;
  background: var(--gray-color);
}

html {
  overflow: auto;
  scroll-behavior: smooth;
}

svg {
  display: block;
}

input {
  transition: 0.3s all;
}

button,
input,
textarea {
  font-family: Arimo, sans-serif;
}

@media (max-width: 700px) {
  body {
    font-size: 14px;
    letter-spacing: -0.56px;
  }
}
